<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.sys.badminton.dao.ActivityMemberMapper">

    <resultMap id="BaseResultMap" type="com.young.sys.badminton.domain.ActivityMember">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
        <result column="nick" jdbcType="VARCHAR" property="nick"/>
        <result column="member_num" jdbcType="INTEGER" property="memberNum"/>
        <result column="member_sex" jdbcType="INTEGER" property="memberSex"/>
        <result column="member_phone" jdbcType="BIGINT" property="memberPhone"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="selectByActivityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from activity_member
        where activity_id = #{activityId}
        order by id desc
    </select>

    <insert id="insert" parameterType="com.young.sys.badminton.domain.ActivityMember">
        insert into activity_member (activity_id, nick,
                                     member_num, member_sex, member_phone)
        values (#{activityId,jdbcType=INTEGER}, #{nick,jdbcType=VARCHAR},
                #{memberNum,jdbcType=INTEGER}, #{memberSex,jdbcType=INTEGER}, #{memberPhone,jdbcType=BIGINT})
    </insert>

    <update id="deleteById" parameterType="java.lang.Integer">
        update activity_member
        set status = -1
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>