<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.young.sys.badminton.dao.ClubMemberMapper">
    <resultMap id="BaseResultMap" type="com.young.sys.badminton.domain.ClubMember">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="club_id" property="clubId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="member_level" property="memberLevel" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByClubId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from club_member
        where status = 1 and club_id = #{clubId}
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from club_member
        where status = 1 and id = #{id}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from club_member
        where user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.young.sys.badminton.domain.ClubMember">
        insert into club_member (club_id, user_id, member_level)
        values (#{clubId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{memberLevel,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="com.young.sys.badminton.domain.ClubMember">
        update club_member
        set club_id      = #{clubId,jdbcType=INTEGER},
            user_id      = #{userId,jdbcType=INTEGER},
            member_level = #{memberLevel,jdbcType=INTEGER},
            status       = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update club_member
        set status = -1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="removeMember">
        delete from club_member
        where club_id = #{clubId} and user_id = #{userId}
    </delete>

    <delete id="deleteByClubId" parameterType="java.lang.Integer">
        delete from club_member
        where club_id = #{clubId}
    </delete>
</mapper>