<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.young.sys.badminton.dao.MatchMapper">
    <resultMap id="BaseResultMap" type="com.young.sys.badminton.domain.Match">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="club_id" property="clubId" jdbcType="INTEGER"/>
        <result column="match_name" property="matchName" jdbcType="VARCHAR"/>
        <result column="match_address" property="matchAddress" jdbcType="VARCHAR"/>
        <result column="men_single" property="menSingle" jdbcType="INTEGER"/>
        <result column="women_single" property="womenSingle" jdbcType="INTEGER"/>
        <result column="men_double" property="menDouble" jdbcType="INTEGER"/>
        <result column="women_double" property="womenDouble" jdbcType="INTEGER"/>
        <result column="mix_double" property="mixDouble" jdbcType="INTEGER"/>
        <result column="limit_member" property="limitMember" jdbcType="INTEGER"/>
        <result column="match_memo" property="matchMemo" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from `match`
        where status = 1
        order by id desc
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from `match`
        where status = 1 and id = #{id}
    </select>

    <insert id="insert" parameterType="com.young.sys.badminton.domain.Match">
        insert into `match` (club_id, match_name,
                             match_address, men_single, women_single,
                             men_double, women_double, mix_double,
                             limit_member, match_memo, start_time,
                             end_time)
        values (#{clubId,jdbcType=INTEGER}, #{matchName,jdbcType=VARCHAR},
                                            #{matchAddress,jdbcType=VARCHAR}, #{menSingle,jdbcType=INTEGER},
                                            #{womenSingle,jdbcType=INTEGER},
                                            #{menDouble,jdbcType=INTEGER}, #{womenDouble,jdbcType=INTEGER},
                                            #{mixDouble,jdbcType=INTEGER},
                                            #{limitMember,jdbcType=INTEGER}, #{matchMemo,jdbcType=VARCHAR},
                                            #{startTime,jdbcType=VARCHAR},
                #{endTime,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.young.sys.badminton.domain.Match">
        update `match`
        set club_id       = #{clubId,jdbcType=INTEGER},
            match_name    = #{matchName,jdbcType=VARCHAR},
            match_address = #{matchAddress,jdbcType=VARCHAR},
            men_single    = #{menSingle,jdbcType=INTEGER},
            women_single  = #{womenSingle,jdbcType=INTEGER},
            men_double    = #{menDouble,jdbcType=INTEGER},
            women_double  = #{womenDouble,jdbcType=INTEGER},
            mix_double    = #{mixDouble,jdbcType=INTEGER},
            limit_member  = #{limitMember,jdbcType=INTEGER},
            match_memo    = #{matchMemo,jdbcType=VARCHAR},
            start_time    = #{startTime,jdbcType=VARCHAR},
            end_time      = #{endTime,jdbcType=VARCHAR},
            status        = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update `match`
        set status = -1
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>