<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.young.sys.badminton.dao.MatchMemberMapper">
    <resultMap id="BaseResultMap" type="com.young.sys.badminton.domain.MatchMember">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="match_id" property="matchId" jdbcType="INTEGER"/>
        <result column="match_type" property="matchType" jdbcType="INTEGER"/>
        <result column="match_judge" property="matchJudge" jdbcType="VARCHAR"/>
        <result column="against_member" property="againstMember" jdbcType="VARCHAR"/>
        <result column="against_sort" property="againstSort" jdbcType="INTEGER"/>
        <result column="winner" property="winner" jdbcType="VARCHAR"/>
        <result column="match_point1" property="matchPoint1" jdbcType="VARCHAR"/>
        <result column="match_point2" property="matchPoint2" jdbcType="VARCHAR"/>
        <result column="match_point3" property="matchPoint3" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByMatchId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from match_member
        where status = 1 and match_id = #{matchId}
        order by id desc
    </select>

    <select id="selectByMatchIdAndMatchType" resultMap="BaseResultMap">
        select *
        from match_member
        where status = 1 and match_id = #{matchId} and match_type = #{matchType}
        order by id desc
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from match_member
        where status = 1
        order by id desc
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from match_member
        where status = 1 and id = #{id}
    </select>

    <insert id="insert" parameterType="com.young.sys.badminton.domain.MatchMember">
        insert into match_member (match_id, match_type,
                                  match_judge, against_member, against_sort,
                                  winner, match_point1, match_point2,
                                  match_point3)
        values (#{matchId,jdbcType=INTEGER}, #{matchType,jdbcType=INTEGER},
                #{matchJudge,jdbcType=VARCHAR}, #{againstMember,jdbcType=VARCHAR}, #{againstSort,jdbcType=INTEGER},
                #{winner,jdbcType=VARCHAR}, #{matchPoint1,jdbcType=VARCHAR}, #{matchPoint2,jdbcType=VARCHAR},
                #{matchPoint3,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.young.sys.badminton.domain.MatchMember">
        update match_member
        set match_id       = #{matchId,jdbcType=INTEGER},
            match_type     = #{matchType,jdbcType=INTEGER},
            match_judge    = #{matchJudge,jdbcType=VARCHAR},
            against_member = #{againstMember,jdbcType=VARCHAR},
            against_sort   = #{againstSort,jdbcType=INTEGER},
            winner         = #{winner,jdbcType=VARCHAR},
            match_point1   = #{matchPoint1,jdbcType=VARCHAR},
            match_point2   = #{matchPoint2,jdbcType=VARCHAR},
            match_point3   = #{matchPoint3,jdbcType=VARCHAR},
            status         = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="deleteById" parameterType="java.lang.Integer">
        update match_member
        set status = -1
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>